@import "fonts.css";
.Nav {
    background-color: #FFF8E7;
    overflow: hidden;
    }
    
    .Nav a {
    float: right;
    color: #01303f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: #000000;
    font-size: 17px;
    font-family: 'MontSerrat';
    font-weight: bold;

    font-size: 20px;
    
    }
    
    #coad {
    float: left;
    font-family: 'MontSerrat';
    font-size: 20px;
    
    }
    
    #img {
        float: left;
        padding-top:4px;        
    }
    .Nav a:hover {
    background-color:#FFF8E7;
    color: black;
    }
    
    .Nav a.active {
    background-color: #FFF8E7;
    color: #01303f;
    }
    